{% extends "base.html" %}
{% block content %}

<main class="update-account layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="profile.html">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Edit your profile</h3>
                </div>
            </div>
            <div class="layout__body">
                <form class="form" action="" enctype = "multipart/form-data" method = "post">
                    {% csrf_token %}
                    <div class="form__group">
                        
                        {{profile_update_form.image}}
                    </div>

            <div class="form__group">
            <label for="username">Username</label>
            {{user_update_form.username}}
            </div>
            
            <div class="form__group">
            <label for="username">First Name</label>
            {{profile_update_form.first_name}}
            </div>
            <div class="form__group">
            <label for="username">Last Name</label>
            {{profile_update_form.last_name}}
            </div>


            <div class="form__group">
            <label for="email">Email</label>
           {{user_update_form.email}}
            </div>

                    <div class="form__group">
                        <label for="user_bio">Bio</label>
                        {{profile_update_form.aboutuser}}
                    </div>
                    <div class="form__action">
                        <a class="btn btn--dark" href="index.html">Cancel</a>
                        <button class="btn btn--main" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}